@import "../post-variables";
#container{
  padding: $post-margin $post-margin * 3 $post-margin $post-margin;
  background-color: #eeea87;
  border-left: 5px solid #ffc000;
  border-right: 5px solid #ffc000;
  position: relative;
}
#content{
  text-align: justify;
  font-size: 16px;
  line-height: 20px;
}
#icon{
  position: absolute;
  right: $post-margin;
  top: 50%;
  transform: translate(0, -50%);
  color: #999758;
}
